<div class="max-w-5xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <div class="flex">
    <!-- Actor Image -->
    <div class="flex-shrink-0">
      <img class="w-48 h-auto rounded-lg" [src]="actor?.profilePath" alt="{{ actor?.name }}">
      <div>
        <p *ngIf="actor?.gender" class="mt-2 font-bold">Genre</p>
        <p class="mt-2 ">{{ actor?.gender === 1 ? "Femme" : "Homme" }}</p>
        <p *ngIf="actor?.birthday" class="mt-2 font-bold">Date de naissance</p>
        <p class="mt-2 ">{{ actor?.birthday }}</p>
        <p *ngIf="actor?.deathday" class="mt-2 font-bold">Date de décès</p>
        <p class="mt-2 ">{{ actor?.deathday }}</p>
        <p *ngIf="actor?.placeOfBirth" class="mt-2 font-bold">Lieu de naissance</p>
        <p class="mt-2 ">{{ actor?.placeOfBirth }}</p>

      </div>
    </div>
    <div>
      <div class="ml-6">
        <!-- Actor Name -->
        <h1 class="text-3xl font-bold">{{ actor?.name}}</h1>
        <!-- Biography -->
        <div class="mt-4">
          <h2 class="text-xl font-semibold">Biography</h2>
          <p class="mt-2 text-gray-700">
            {{ actor?.biography}}
          </p>
        </div>
      </div>
      <!-- Known For Section -->
      <div class="mt-8">
        <h2 class="text-2xl font-semibold">Films</h2>
        <div class="flex flex-wrap justify-start mt-4">
          <!-- Known For Item -->
          <div *ngFor="let movie of actor?.movies" class="flex flex-col items-center w-1/4">
            <p class="mt-2 text-center">{{ movie }}</p>
          </div>
        </div>
      </div>
      <div class="mt-8">
        <h2 class="text-2xl font-semibold">Rôles</h2>
        <div class="flex flex-wrap justify-start mt-4">
          <!-- Known For Item -->
          <div *ngFor="let character of actor?.characters" class="flex flex-col items-center w-1/4">
            <p class="mt-2 text-center">{{ character }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
