<div class="max-w-5xl mx-auto bg-white p-6 rounded-lg shadow-lg">
  <div class="flex">
    <h1 class="text-3xl font-bold">{{ actor?.name}}</h1>
    <div class="flex-shrink-0">
      <img [src]="'http://image.tmdb.org/t/p/w500' + actor?.profilePath" alt="{{ actor?.name }} Poster" width="20%" height="20%">
      <div>
        <p *ngIf="actor?.gender" class="mt-2 font-bold">
          <span class="mt-2 ">Genre: {{ actor?.gender === 1 ? "Femme" : "Homme" }}</span>
        </p>
        <p *ngIf="actor?.birthday" class="mt-2 font-bold">
          <span class="mt-2 ">Date de naissance: {{ actor?.birthday | date }}</span>
        </p>
        <p *ngIf="actor?.deathday" class="mt-2 font-bold">
          <span class="mt-2 ">Date de décès: {{ actor?.deathday | date}}</span>
        </p>
        <p *ngIf="actor?.placeOfBirth" class="mt-2 font-bold">
          <span class="mt-2 ">Lieu de naissance: {{ actor?.placeOfBirth }}</span>
        </p>

      </div>
    </div>
    <div>
      <div class="ml-6">
        <div class="mt-4">
          <h2 class="text-xl font-semibold">Biographie</h2>
          <p class="mt-2 text-gray-700">
            {{ actor?.biography }}
          </p>
        </div>
      </div>
      <div class="mt-8">
        <h2>Personnages joués</h2>
        <ul>
          <li *ngFor="let character of characters">
            <a [routerLink]="'/movie/' + character.movie.id">
              {{ character.name }} in {{ character.movie.title }}
              <p><img [src]="'http://image.tmdb.org/t/p/w500' + character.movie.posterPath" width="20%" height="20%"></p>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
